.header {
    text-decoration: underline;
  }
  
  .header,
  .balance {
    text-align: center;
  }
  
  .form-control {
    margin: 10px 0;
  }
  
  .form-control input {
    width:  100%;
  }
  
  .form-control > * {
    display: block;
  }